{% extends 'mailing_service/base_inner.html' %}
{% load my_tags %}

{% block title %}Регистрация пользователя{% endblock %}

{% block inner_content%}
<h3 class="display-6">Регистрация пользователя</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form class="row text-start" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body text-start">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-secondary my-1">
                       Зарегистрироваться
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
