{% extends 'mailing_service/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main class="container text-center my-auto">
    <h1 class="display-4 text-white">Сервис управления рассылками</h1>
    <p class="lead text-white-50">
        Управляйте рассылками сообщений для клиентов.
    </p>
    <a href="#" class="btn btn-light btn-lg mt-3">Начать работу</a>
</main>
<div class="container bg-light py-4 rounded-3">
    <div class="row justify-content-center">
        <div class="album py-5 bg-body-tertiary">
            <div class="card">
                <div class="card-body text-center w-auto">
                    <h5 class="card-title text-center">Статистика сервиса управления рассылками</h5>
                    <span class="placeholder col-12 bg-warning"></span>
                        <p class="card-text text-start">Общее количество всех созданных рассылок: {{ total_mailings }}</p>
                    <span class="placeholder col-12 bg-warning"></span>
                        <p class="card-text text-start">Количество активных рассылок: {{ active_mailings }}</p>
                    <span class="placeholder col-12 bg-warning"></span>
                        <p class="card-text text-start">Количество уникальных получателей (общее количество клиентов в системе): {{ unique_recipients }}</p>
                    <span class="placeholder col-12 bg-warning"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}