{% extends 'mailing_service/base_inner.html' %}
{% load my_tags %}

{% block title %}Управление клиентами{% endblock %}

{% block inner_content%}
<h3 class="display-6">Список клиентов</h3>
<p class="lead text-white-50">Управление базой клиентов для рассылок</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-secondary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Добавить клиента
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
